<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <ckeditor [editor]="Editor" data="<p>Hello world!</p>"></ckeditor>
            </div>
            <div class="col-md-6 col-xs-12">
                <div>
                    <button mat-raised-button (click)="customerFileInput.click()">Import Customer Email</button>
                    <input style="display: none;" type="file" #customerFileInput (change)="onFileChange($event)"
                        multiple="false" />
                </div>
                <div>
                    <ng2-smart-table [settings]="settings" [source]="convertedData"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>